<div class="header">
  <a routerLink="/" class ="title">
    <div class="titleContainer">
        {{title}}
    </div>
  </a>

  <div class="buttons">
    <a routerLink="/basket/" class="imgContainer">
      <mat-icon class="basketImg">shopping_cart</mat-icon>
      <span>{{count > 0 ? count : null}}</span>
    </a>
    <div class="login-buttons">
      <button mat-button class="login-button" (click)="openDialogLogin()">Вхід</button>
      <button mat-button class="login-button" (click)="openDialogSignin()">Реєстрація</button>
    </div>
  </div>
</div>
